<ul>
    {{#if login}}
        <li>
            <a href="/profile">Perfil</a>
        </li>
        <li>
            <a href="/api/sessions/logout">Logout</a>
        </li>

    {{else}}
        <li>
            <a href="/register">Register</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>

    {{/if}}

</ul>